.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.nav__link {
  margin: 0 auto;
  border: none;
  font-family: Verdana;
  text-decoration: none;
  background-color: #232d3f;
  color: #fff;
  font-size: 20px;
}
