.projects {
  height: 600px;
  display: flex;
  justify-content: center;
}

.projects__list {
  padding: 0;
  margin: 100px 0;
  min-width: 300px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.projects__item {
  height: 200px;
  width: 200px;
  list-style: none;
  border: 1px solid #000;
}
